*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/sr
/captures
.externalNativeBuild
/splayer-native/src/main/libs/armeabi-v7a/libsffmpeg.so
